<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOGWARTS</title>
  <link type="text/css" rel="stylesheet" href="/styles/styles.css">
</head>

<body class="index">
  <h1>HOGWARTS</h1>
  <a href="../houses">HOUSES</a>
  <a href="../students">STUDENTS</a>

  <form action="../students" method="post">

    <h2>Enroll:</h2>

    <label for="fname">First Name</label>
    <input id="fname" name="fname" type="text" required placeholder="First Name">

    <label for="lname">Last Name</label>
    <input id="lname" name="lname" type="text" required placeholder="Last Name">

    <label for="image">Image URL</label>
    <input id="image" name="image" type="text" required placeholder="Image URL">


    <button class="submit" type="submit" name="add-student" id="add-student" value="Submit">SUBMIT</button>

  </form>


</body>

</html>